$fontsize-base: 14px;
$fontsize-header1: $fontsize-base + 4;
$fontsize-header2: $fontsize-base + 2;
$primary-color: #d15038;

p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.MuiIconButton-root { // edit-button Mui class
    font-size: 20px;
    padding: 8px;
}

.MuiInputLabel-formControl {
    position: relative;
}
