@import './../../../globals.scss';

.home-page-wrapper {
   background: linear-gradient($primary-color 0%, #FE9969 100%);
   
   .main-verse {
      flex-grow: 1;
      font-weight: bold;
      color: white;
      padding-top: 50px;
      border-radius: 10px;
   }
   
   .main-verse-ref {
      color: white;
   }
   
   .home-events {
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
      background-color: white;
      max-width: 500px;
      height: 330px;
      font-weight: bold;
      font-size: 20px;
      padding: 12px;
      border-radius: 15px;
   }

   .home-nav-buttons {
      box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
      background-color: white;
      max-width: "100%";
      height: 100px;
      font-weight: bold;
      color: $primary-color;
      font-size: 20px;
      padding: 12px;
      border-radius: 15px;
      margin-bottom: 25px;
   }
   
}
