@import "./../../../globals.scss";

.footer-wrapper {
    margin-left: 2%;
    margin-right: 2%;
}

.divider {
    margin-bottom: 1%;
}

.info {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.icons {
    margin-right: 1%;
    margin-left: 2%;
    margin-top: 10px;
    flex: 1;
}

.text {
    height: 10px;
    flex: auto;
    flex-direction: row;
    //line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.copyright {
    text-align: center;
}

.a {
    color: black;
}

a:visited { text-decoration: none; color:black; }

