@import "./../../../globals.scss";

.create-event-modal {
    .card {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .create-button-wrapper {
        display: flex;
        justify-content: space-around;

        .create-button {
            background-color: $primary-color;
        }
    }
}