@import "./../../../globals.scss";

.create-event-modal {
    .header {
        font-size: $fontsize-header1;
        font-weight: bold;
        margin-bottom: 6px;
        text-align: center;
    }

    .card {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;

        .worship-leader {
            .MuiSelect-outlined.MuiSelect-outlined {
                min-width: 118px !important;
            }
        }
    }

    .create-button-wrapper {
        display: flex;
        justify-content: space-around;

        .create-button {
            background-color: $primary-color;
        }

        .delete-button {
            background-color: red;
        }
    }
}