@import "./../../../globals.scss";

.card {
    max-height: 900px;
    border-radius: 10px;
    width: 21.75%;
    margin-right: 1%;
    position: relative;
    background: #ffe7cb;
    box-shadow: #cfcfcf 3px 3px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-past {
        @extend .card;

        background: #e3e3e3;
    }

    .card-header {
        padding: 10px 10px 0 18px;

        .title-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;

            .title {
                width: 75%;

                .MuiInputBase-multiline {
                    padding: 0px;

                    textarea {
                        color: $primary-color;
                        font-size: $fontsize-header1;
                        font-weight: bold;
                    }
                }
            }

            &-edit {
                @extend .title-button-wrapper;
                .title {
                    .MuiInputBase-multiline {
                        padding: 10px;
                    }
                }
            }
        }

        .date-picker-wrapper {
            margin-bottom: 8px;

            .MuiFormControl-marginNormal {
                margin: 0;

                .MuiInputBase-adornedEnd {
                    .MuiInputBase-input {
                        padding: 0;
                    }
                }

                .MuiOutlinedInput-adornedEnd {
                    padding: 0;
                    width: 90%;

                    .MuiOutlinedInput-input {
                        padding: 10px;
                    }
                }
            }

            &-no-margin {
                @extend .date-picker-wrapper;
                .MuiFormControl-marginNormal {
                    margin: 0;

                    .MuiInputBase-input.Mui-disabled {
                        color: black;
                    }
                }
            }
        }

        .event-info-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .worship-leader {
                .MuiSelect-outlined.MuiSelect-outlined {
                    min-width: 90px;
                }
            }

            .rehearsals {
                margin-left: 20%;
                margin-right: 3%;
                .rehearsal-time {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }

    .role-section-wrapper {
        height: 600px !important;
    }

    .card-actions {
        padding: 0 16px 16px 16px;
        margin-top: 16px;
        justify-content: space-between;

        .resources-button {
            background-color: $primary-color;
        }

        .notify-button {
            background-color: rgba(42, 118, 233, 0.9);

            .send-icon {
                margin-bottom: 5px;
                transform: rotate(-45deg);
            }
        }
    }
}
