@import "./../../../globals.scss";

.planner-page-wrapper {
    .cards-wrapper {
        display: flex;
        text-align: left;
        margin-bottom: 20px;

        .previous-button-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 3%;
            margin: 0 1%;

            .previous-button {
                height: 90px;
            }
        }

        .next-button-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 3%;
            margin-right: 1%;

            .next-button {
                height: 90px;
            }
        }

        .pagination-button-icon {
            transform: scale(3);
        }

        .cards-content-wrapper{
            display: flex;
            width: 94%;
        }
    }
}

.MuiMenu-list {
    max-height: 200px;
    overflow: auto;
}

hr.thin {
    margin: 6px 0;
    height: .5px;
    border: none;
    background-color: #bbbbbb;
}
