.wrapper {
    margin: 12px;
    display: flex;
    text-align: left;
}

.card {
    width: '25%';
    margin-right: 14px;
    position: relative;
    min-width: 200px;
    &:last-child {
        margin-right: 0;
    }
}

.title {
    font-size: 14px;
}

.roleCard {
    width: '100%';
    margin-bottom: 10px;
}

.roleName {
    margin-bottom: 10px;
}

//To clean up
.roleCardContent {
    display: 'flex';
    align-items: 'center';
    flex-wrap: 'wrap';
    // position: 'relative'
}

.resourcesButton {
    bottom: 0;
    position: 'absolute';
    background-color: #d15038 !important;
}

.cardActions {
    padding: 16px !important;
}

.save {
    background-color: green;
}

// To update so that it sticks to the right
.clearIcon {
    position: relative;
    // right: -100px;
}

.formControl {
    margin: 5px;
    width: 50%;
}
