@import "./../../../globals.scss";

.time-select-wrapper {
    width: 100%;
    margin: 15px 0 25px;
    text-align: center;

    .time-header {
        font-size: $fontsize-header1 !important;
        color: $primary-color;
    }

    .slider-event-section {
        display: flex;
        align-items: center;

        button {
            height: 30px;
        }

        .view-btn-group-wrapper {
            width: 9%;
        }

        .current-event {
            width: 7.5%;
            margin-left: 1%;
            box-shadow: none;
        }
        
        .select-year {
            height: 30px;
            width: 7.8%;
            margin-left: .8%;

            .MuiOutlinedInput-root {
                height: 30px;

                .MuiSelect-outlined.MuiSelect-outlined {
                    padding: 1px 12px 0 0;
                }
            }
        }

        .slider-wrapper {
            width: 43.2%;
            margin: 0 1.9%;
            .slider {
                width: 100%;
                color: $primary-color;
            }
        }

        .filter-box {
            width: 8.3%;
        }

        .create-event-button, .manage-teams-button {
            width: 8%;
            margin-left: .8%;
            background-color: $primary-color;
            padding: 0;
        }
        .manage-teams-button {
            width: 9%;
        }
    }
}

.MuiMenu-list {
    max-height: 180px;
}