@import "./../../../globals.scss";

.time-select-wrapper {
    width: 100%;
    margin: 15px 0 25px;
    text-align: center;

    .time-header {
        font-size: $fontsize-header1 !important;
        color: $primary-color;
    }

    .slider-event-section {
        display: flex;
        align-items: center;

        button {
            height: 30px;
        }

        .current-event {
            width: 7%;
            margin-left: 1%;
            box-shadow: none;
        }
        
        .select-year {
            width: 10%;
            height: 30px;
            width: 8%;
            margin-left: 1%;

            .MuiOutlinedInput-root {
                height: 30px;

                .MuiSelect-outlined.MuiSelect-outlined {
                    padding: 1px 12px 0 0;
                }
            }
        }

        .slider-wrapper {
            min-width: 50%;
            margin: 0 1.5%;
            .slider {
                width: 100%;
                color: $primary-color;
            }
        }

        .filter-box {
            min-width: 9%;
        }

        .event-btn-wrapper {
            display: flex;
            flex-direction: column;
            width: 11%;
            margin-left: 1%;
            .create-event-button, .manage-teams-button {
                background-color: $primary-color;
            }
            .manage-teams-button {
                margin-top: 4px;
            }
        }
    }
}