@import './../../../globals.scss';

  
.comment {
    display: flex;
    margin-bottom: 25px;

    .comment-image-container {
        margin-right: 12px;
    }
  
    .comment-right-part {
        width: 100%;
        text-align: left;

        .comment-header {
            display: flex;

            .comment-author-date {
                margin-right: 8px;
                font-size: 13px;
                width: 90%;
            }

            .menu-button {
                width: 10%;
                max-height: 13px;
            }
        }

        .comment-text {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .comment-editable-right-part {
        width: 100%;
        text-align: left;

        .comment-text-post {
            display: flex;
            width: 100%;

            .comment-editable-text {
                font-size: 14px;
                font-weight: bold;
                width: 80%;
            }

            .post-button {
                width: 20%;
                border: none;
                background: none;
                font-size: small;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .cancel-button {
            border: none;
            font-size: small;
            background: none;

            :hover {
                cursor: pointer;
            }
        }

    }
}
  
